---
import CardsProducts from "@/components/CardsProducts.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const products = await getCollection("products");
export const prerender = true;
---

<Layout>
  <div class="wrapper">
    <h2>tienda</h2>

    <CardsProducts products={products} />
  </div>
</Layout>
