<header>
  <div class="wrapper">
    <h1>tienda online</h1>

    <nav>
      <a href="">home</a>
      <a href="">contacto</a>
      <a href="">blog</a>
    </nav>
  </div>
</header>

<style>
  header {
    background-color: lightblue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
  }

  header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
